@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-color0;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

@layer base {
    .neu-bg {
        @apply bg-light
    outline-none dark:bg-dark;
    }

    .neu-out {
        @apply neu-bg shadow-lightOuter
    dark:shadow-darkOuter;
    }

    .neu-out-long {
        @apply neu-bg shadow-lightOuterLong dark:shadow-darkOuterLong;
    }

    .neu-in {
        @apply neu-bg shadow-lightInner dark:shadow-darkInner;
    }

    .neu-in-short {
        @apply neu-bg shadow-lightInnerShort dark:shadow-darkInnerShort;
    }

    .neufx-in {
        @apply neu-in focus:neu-in-short rounded-lg px-4 py-2 duration-300 ease-in-out;
    }

    .neufx-out {
        @apply neu-out active:neu-in rounded-lg px-4 py-2 duration-300 ease-in-out;
    }

    .use-transition {
        @apply translate-y-10 opacity-0 transition duration-300 ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
    }
    .fade-start .show {
        @apply translate-y-0 opacity-100;
    }
    .fade-start .show-1 {
        @apply delay-150;
    }
    .fade-start .show-2 {
        @apply delay-300;
    }
    .fade-start .show-3 {
        @apply delay-500;
    }
}
